pandarallel==1.4.8
torch==1.5.0
torchvision==0.6.0a0+82fd1c8
transformers==2.9.1 # install directly from github if needed
apex==0.1 # install directly from github if needed
polyglot==16.7.4 # to detect languages in the training set
PyICU==2.4.3 # needed by polyglot package
pycld2==0.41 # needed by polyglot package
